:root{
    /* палитра */

    --text-color-main: #757575;
    --text-color-secondary: #212121;
    --accented-color: #2196F3;
    --background-color: #ffffff;
    --background-color-secondary: #F5F4FA;
    --background-color-dark:#2F303A;
    --logo-black: #000000;
}

                                        /* общие элементы */
body{
    margin-right: auto;
    margin-left: auto;
    font-family: Roboto, sans-serif ; 
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--background-color);
    color: var(--text-color-main);
    
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0px;
}

ul, ol{
    margin: 0px;
    padding: 0px;
}

.container{
    width: 1200px;
    padding: 94px 15px 94px 15px;
    margin: 0 auto; 
    text-align: center;
}

.list{
    list-style: none;;
}

.link{
    text-decoration: none;
}

                                               /* header */

.header{
    border-bottom: 1px solid #ECECEC;
}

.main-nav{
    padding-top: 24px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

/* навигация в хедере */

.header-nav.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* лого */

.logo{
    margin-right: 93px;

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
}

.logo-blue{
    color: var(--accented-color);
}

.logo-black{
    color: var(--logo-black);
}

.header-list{
    display: flex;
}

.header-list .item:not(:last-child){
    margin-right: 50px;
}


.header-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color-secondary);
}

.header-item:hover,
.header-item:focus {
    color: var(--accented-color);
}

/* комуникации */

.header-communications{
    display: flex;
}

.header-communications .item:not(:last-child){
    margin-right: 50px;
}

.header-contact{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color-main);
}

.header-contact:hover,
.header-contact:focus{
    color: var(--accented-color);
}

                                                /* main */

/* герой */

.hero{
    padding-top: 200px;
    padding-bottom: 200px;

    background-color: var(--background-color-dark);
}

.container-hero{
    margin: 0 auto; 
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.hero-title{

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--background-color);
}

.hero-btn{
    margin-top: 30px;
    padding: 10px 32px;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    color: var(--background-color);
    background-color: var(--accented-color);
    cursor: pointer;
    letter-spacing: 0.06em;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
}

/* Наши преимущества */

.benefits .container{
    padding-bottom: 0;
}    

.benefits{
    background-color: var(--background-color);
}

.benefits-title{
    visibility: hidden;
    height: 0px;
}

.benefits-list{
    display: flex;
}

.benefits-item{
    width: 270px;

    text-align: left;
}

.benefits-item:not(:last-child){
    margin-right: 30px;
}

.benefits-advantage{
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--text-color-secondary);
}

.benefits-text{
    line-height: 1.71;
}

/* Чем мы занимаемся */

.work-title{
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--text-color-secondary);

}

.work-list{
    display: flex;
}

.work .item:not(:last-child){
    margin-right: 30px;
}

/* наша команда */

.team{
    background-color: var(--background-color-secondary);

}

.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--text-color-secondary);
}

.team-list{
    display: flex;
    margin-top: 50px;
}

.team-item{
    background-color: var(--background-color);
    padding-bottom: 30px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);

    border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child){
    margin-right: 30px;
}

.team-subtitle{
    margin-top: 30px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--text-color-secondary);
}

.team-text{
    margin-top: 10px;

    font-size: 16px;
    line-height: 1.19;
}

                                        /* footer */

.footer{
    background-color: var(--background-color-dark);
}

.footer-group{
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: left;
}

.logo-white{
    color: var(--background-color);
}

.footer-address{
    margin-top: 20px;
}

.footer-item{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--text-color-main);
}

.footer-item:hover,
.footer-item:focus{
    color: var(--background-color);
}

                                            /* portfolio */

.portfolio-title{
    visibility: hidden;
    height: 0;
}

.portfolio-filter{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.portfolio-btn{
    border-radius: 4px;
    height: 38px;
    padding: 6px 22px;
    cursor: pointer;
    border: 0;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--text-color-secondary);
    background-color: var(--background-color-secondary);
}

.portfolio-filter .item:not(:last-child){
    margin-right: 6px;
}

.portfolio-btn:hover,
.portfolio-btn:focus{
    border-radius: 4px;
    color: var(--background-color);
    background-color: var(--accented-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
                0px 1px 2px rgba(0, 0, 0, 0.08), 
                0px 2px 2px rgba(0, 0, 0, 0.12);

    
}

.portfolio-list{
    margin-top: 34px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.portfolio-item{
    margin-right: 30px;
    margin-bottom: 30px;
    padding-bottom: 20px;

}

.portfolio-item:nth-child(n+7){
    margin-bottom: 0;
}

.portfolio-item:nth-child(3n){
    margin-right: 0;
}

.img-portfolio{
    display: block;
}

.description{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;

    text-align: left;
    
    border: 1px solid #EEEEEE;
    border-top: 0px;
}

.portfolio-subtitle{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-color-secondary);
}

.portfolio-text{
    margin-top: 4px;

    font-size: 16px;
    line-height: 1.87;
    color: var(--text-color-main);
}
